.square{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: blue;
}

.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* width: 500px;
    height: 500px; */
}
.mole{
    background-image: url(./a-mole.png);
    background-size: cover;
}