#container {
    width: 75%;
    height: 650px;
    margin: 55px auto;
    border: 5px solid #34495e;
}

h2 {
    color: #34495e;
    text-align: center;
}

#projects {
    width: 90%;
    height: 85%;
    margin: 0px auto;
}

ol li {
    border: 1px solid #2c3e50;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

ol li:hover {
    background: #05c46b;
}

#btnAddProject {
    margin-left: 75%;
    margin-bottom: 15px;
}

.ui-widget-header{
    background-color: #05c46b !important;
}

.ui-dialog-buttonset button[type="button"]{
    background-color: #3c40c6 !important;
    color: white;
}