tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number]{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: rgba(14, 183, 235, 0.541);
    padding: 5px 20px;
    margin: 8px 0;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-actions-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color: red;
    margin-left: 5px;
}

.hide{
    display: none;
}