html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    line-height: 1.5;
/*    background: linear-gradient(to left, lightgreen, whitesmoke);
*/    /*background: radial-gradient(to left, lightgreen, whitesmoke);*/

}

.footerlinks {    
    color: black;
}

    .footerlinks:hover {
        color: black;
    }

.center {
    text-align: center;
}

#container {
    background-color: red;
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10px;
    padding-bottom: 80px; /* Height of the footer */
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80px; /* Height of the footer */
    background: #355f36;
}

