 *::before, *::after, *{
    box-sizing: border-box;
}

body{ 
    background-color: hsl(265, 80%, 25%);
    color: hsl(255, 75%, 90%);
    text-align: center;
}

.strength-meter{
    position: relative;
    height: 1.5rem;
    width: 75%;
    border: 3px solid hsl(255, 75%, 90%);
    border-radius: 1rem;
    margin: 0 auto;
    overflow: hidden;
}

.strength-meter::before{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strong, 5));
    background-color: hsl(255, 75%, 90%);
    transition: width 200ms;
}

.password-input{
    margin-top: 1rem;
    width: 75%;
    height: 50px;
    padding: .25rem .75rem;
    background-color:hsl(265, 80%, 25%);
    color: white;
    border: 1px solid hsl(265, 80%, 51%);
    outline: none;
    font-size: 25px;
    text-align: center;
    border-radius: .3rem;
}

.password-input:focus{
    border-color:hsl(265, 80%, 76%);
}

.reasons > * {
    margin-top: .5rem;
    color: hsl(265, 80%, 80%);
}